.env
discord.log
*.log
*.pyc
2015-01
2015-01.db
anastasia/__pycache__/sms_on_mention.cpython-37.pyc
tests/pandas-test.py
anastasia/reddit_ai/database_organizer.py
anastasia/reddit_ai/ai.py
anastasia/data/sms_info.py
anastasia/data/steam_games.json
anastasia/data/user_info.json
anastasia/data/777.json
anastasia/cogs/utils/nmtchatbot/model/translate.ckpt-56000.data-00000-of-00001
anastasia/cogs/utils/nmtchatbot/model/translate.ckpt-56000.index
anastasia/cogs/utils/nmtchatbot/model/translate.ckpt-56000.meta
tests/menu.py
tests/price_drops.py
data/price_data/day_dg_case-fan.json
data/price_data/day_dg_case.json
data/price_data/day_dg_cpu-cooler.json
data/price_data/day_dg_headphones.json
data/price_data/day_dg_internal-hard-drive.json
data/price_data/day_dg_keyboard.json
data/price_data/day_dg_laptop.json
data/price_data/day_dg_memory.json
data/price_data/day_dg_monitor.json
data/price_data/day_dg_motherboard.json
data/price_data/day_dg_mouse.json
data/price_data/day_dg_optical-drive.json
data/price_data/day_dg_power-supply.json
data/price_data/day_dg_ups.json
data/price_data/day_dg_video-card.json
data/price_data/day_dg_wireless-network-card.json
data/price_data/week_dg_case-fan.json
data/price_data/week_dg_case.json
data/price_data/week_dg_cpu-cooler.json
data/price_data/week_dg_cpu.json
data/price_data/week_dg_external-hard-drive.json
data/price_data/week_dg_headphones.json
data/price_data/week_dg_internal-hard-drive.json
data/price_data/week_dg_keyboard.json
data/price_data/week_dg_laptop.json
data/price_data/week_dg_memory.json
data/price_data/week_dg_monitor.json
data/price_data/week_dg_motherboard.json
data/price_data/week_dg_mouse.json
data/price_data/week_dg_optical-drive.json
data/price_data/week_dg_power-supply.json
data/price_data/week_dg_software.json
data/price_data/week_dg_ups.json
data/price_data/week_dg_video-card.json
data/price_data/week_dg_wired-network-card.json
data/price_data/week_dg_wireless-network-card.json
nmtchatbot/model/translate.ckpt-56000.data-00000-of-00001
nmtchatbot/model/translate.ckpt-56000.index
nmtchatbot/model/translate.ckpt-56000.meta
data/price_data/daily_deals.csv
data/price_data/weekly_deals.csv
tests/processor_experimental.py
tests/deals_scraper.py
tests/json_path_test.py
tests/json_processor.py
tests/json_processor.py
discord.log
